<!DOCTYPE html>
<%include ../header %>
    

    

    <section>
    	<form action="/login" method="post">
    		<input type="text" name="nome" placeholder="Digite seu nome">
    		<br>
    		<input type="text" name="email" placeholder="Digite o e-mail">
    		<button type="submit">Entrar</button>
            <a href="/usuario/new">Cadastrar</a>
    	</form>
    </section>

<%include ../footer %>