<!DOCTYPE html>
<%include ../header %>
    <h1>Titulo</h1>
    <p>Welcome to Titulo</p>


    <section>
    	<form action="/login" method="post">
    		<input type="text" name="nome" placeholder="Digite seu nome">
    		<br>
    		<input type="text" name="email" placeholder="Digite o e-mail">
    		<button type="submit">Entrar</button>
    	</form>
    </section>

<%include ../footer %>